* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-color: #f5f5f5;
    --text-color-p: #f5f5f5;
    --bg-url: url(./assets/background-dark-mode.svg);
    --stroke-color: #fff;
    --container-color: #232528;
    --formas-color: #f5f5f5;
    --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
    --text-color: #232528;
    --bg-url: url(./assets/background-light-mode.svg);
    --stroke-color: #232528;
    --container-color: #fff;
    --formas-color: #232528;
    --switch-bg-url: url(./assets/sun.svg);
}

ul {
    list-style: none;
}

body {
    background: var(--bg-url) no-repeat top center/cover;
}

@font-face {
    font-family: 'Meutas';
    src: url(./assets/fonts/Meutas-ExtraLight.otf) format('opentype');
}

#container {
    width: 586px;
    height: 742px;
    background: var(--container-color);
    border-radius: 28px;
    border: 7px solid var(--stroke-color);
    margin: 160px auto;
}

#container-top {
    width: 100%;
    border-bottom: 7px solid var(--stroke-color);
    padding: 15px 30px;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

#formas {
    display: flex;
    gap: 15px;
}

.circulo {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var(--formas-color);
}

#switch {
    width: 64px;
    position: relative;
    cursor: pointer;
}

#switch button {
    width: 32px;
    height: 32px;
    background: white var(--switch-bg-url) no-repeat center;
    border: 20;
    border-color: var(--stroke-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    cursor: pointer;

}

.light #switch button {
    right: 0;
    left: initial;
    border-color: var(--stroke-color);
}

#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile {
    margin: 30px 0;
}

span {
    font-family: 'Meutas';
    font-style: italic;
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
    font-weight: 700;
}

.textos {
    text-align: center;
}

h1 {
    color: var(--text-color);
    font-size: 42px;
    font-weight: 600;
    font-family: 'Inter', sans-serif;
    margin: 0;
}

#group-4 h2 {
    font-family: 'Meutas';
    color: var(--text-color);
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    position: relative;
}

#group-4 img {
    height: 40px;
    width: 200px;
    margin-left: -100px;
    margin-top: -40px;
    position: absolute;

}

#container-blue {
    width: 50px;
    height: 18px;
    border-radius: 4px;
    background-color: #2151EC;
    position: absolute;
    margin-top: -2px;
    margin-left: 261px;
}

#group-3 p {
    position: relative;
    font-size: 9px;
    margin-top: 4px;
    color: var(--text-color-p);
}

main p {
    font-family: 'Meutas';
    color: var(--text-color);
    font-size: 12px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 0.42px;
    text-align: center;
    margin: 20px 87px;
}

#social-links {
    display: flex;
    gap: 20px;
    padding: 24px 0;
}

.btn-social-links {
    width: 74px;
    height: 74px;
    border-radius: 15px;
    border: 4px solid  var(--stroke-color);
    background: var(--container-color);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px var(--stroke-color);
}

#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}